.form {
    display: flex;
    min-width: 300px;
    flex-direction: column;
    padding: 30px 50px;
    background-color: #455a64;
    border-radius: 10px;
}

.title {
    font-size: 42px;
    font-weight: 600;
    color: #ab47bc;
    color: #b0bec5;
    transition: color 0.5s ease; 
}

.label {
    font-size: 24px;
    margin-bottom: 5px;
    margin-top: 20px;
}

.labelActive {
    color:#ab47bc;
    font-weight: 600;
}

.input {
    all: initial;
    border-radius: 5px;
    margin-bottom: 5px;
    height: 30px;
    background-color: transparent;
    border: 2px solid #b0bec5;
    padding: 0 0 0 5px;
    color: #b0bec5;
    font-weight: 600;
    transition: border-color 0.5s ease; 
}

.input:focus {
    border-color: #ab47bc;
    border-width: 3px;
    margin-bottom: 3px;
}

.inputError{
    border-color: #e91e63;
}

.textError{
color: #e91e63;
}

.buttonSubmit {
    margin-top: 20px;
    background-color: #9c27b0;
    color: #fff;
    padding: 10px 20px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; 
  }
  
  .buttonSubmit:hover {
    background-color: #7b1fa2; 
  }
  
  .buttonSubmit:active {
    background-color: #6a1b9a; 
  }
  